#include "progres.h"
#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_PROGRESS DIALOG 0, 0, 214, 31
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | WS_CAPTION | WS_VISIBLE | WS_POPUP
CAPTION ""
FONT 8, "Ms Shell Dlg"
BEGIN
//   EDITTEXT        IDC_PROGLABEL, 7, 7, 186, 9, NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL | ES_READONLY, WS_EX_LEFT
//    CONTROL         "", IDC_PROGBAR, PROGRESS_CLASS, 0, 7, 7, 186, 9, WS_EX_LEFT
    CONTROL         "", IDC_PROGBAR, PROGRESS_CLASS, 0, 7, 7, 200, 17, WS_EX_LEFT
//    PUSHBUTTON      "Cancel", IDCANCEL, 74, 32, 50, 14, 0, WS_EX_LEFT
END